body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  .results {
    margin-top: 30px;
    text-align: center;

    & > div {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      border-radius: 3px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 30px;
    }

    & > div:first-child {
      margin-right: 10px;
    }

    & > div:last-child {
      margin-left: 10px;
    }
  }
}
